<h1>Proveedores</h1>

<ul class="proveedores">
    <li *ngFor="let proveedor of proveedores" 
    [class.selected]="proveedor === selectedProveedor"
     (click) = "onSelect(proveedor)">
    <span class="badge">{{ proveedor.id }}</span> {{ proveedor.name }}
    </li>
</ul>

<mat-card>
<app-proveedor-detalle [proveedor]="selectedProveedor"></app-proveedor-detalle>
</mat-card>
<br>
<mat-card>
<h2>Agregar un nuevo proveedor</h2>
<div>
    <p>
    <label for="newProveedor-id">Id del proveedor: </label>
    <input id="new-proveedor" placeholder="id" #proveedorId />
    </p>
    <p>
    <label for="newProvedor-name">Nombre del Proveedor: </label>
    <input id="newProvedor-name" placeholder="Nombre" #proveedorName />
    </p>

    

    <button class="add-button" (click)="agregar(proveedorName.value, proveedorId.value); proveedorName.value=''; proveedorId.value=''">
        Agregar un proveedor
    </button>
</div>
</mat-card>



